.container {
  display: flex;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #ffffff;

  font-family: "Karla", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  /* border: 1px solid; */
}

.logo img {
  width: 80px;
  /* Adjust as per your logo size */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.nav-links li a:hover {
  /* color: #ffcc00; */
  text-decoration: underline;
}

.login-btn {
  padding: 15px 50px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  border-radius: 100px;
  font-family: "Karla", Sans-serif;
}

/* Profile Button Dropdown  */
.profile-btn {
  background-color: black;

  color: white;

  border: none;

  padding: 10px 15px;

  font-size: 16px;

  cursor: pointer;

  border-radius: 5px;

  transition: background-color 0.3s;

}

.profile-btn:hover {
  background-color: #333;

}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;

  position: absolute;

  background-color: #f9f9f9;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;

  left: 0;

  margin-top: 5px;

}



.dropdown-content a {
  color: black;

  padding: 12px 16px;

  text-decoration: none;

  display: block;

}

.dropdown-content a:hover {
  background-color: #f1f1f1;

}


.dropdown:hover .dropdown-content {
  display: block;

}

/* End dropdowng*/








/* FOOTER CSS STARTS FROM HERE */

/* Footer Section */
.custom-footer {
  background-color: #ffffff;
  color: #fff;
  /* padding: 40px 20px; */

  padding: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* First Div: Logo and Summary */
.footer-logo-summary {
  flex: 1;
  max-width: 300px;
}

.footer-logo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-summary {
  color: #000000;
  font-family: "Karla", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

/* General Styling for All Divs */
.footer-heading {
  margin-bottom: 15px;

  color: #000000;
  font-family: "Karla", Sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
}

/* Links List */
.footer-links-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links-list li {
  margin-bottom: 10px;
  line-height: 30px;
}

.footer-links-list a {
  text-decoration: none;

  font-family: "Karla", Sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.footer-links-list a:hover {
  text-decoration: underline;
}

/* Fourth Div: Information */
.footer-info-list {
  list-style: none;
  padding: 0;
}

.footer-info-list li {
  margin-bottom: 10px;

  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-family: "Karla", Sans-serif;
}

.footer-info-list a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-family: "Karla", Sans-serif;
}

.footer-info-list a:hover {
  color: #000000;
}

/* Social Media Icons with New Class */
.footer-social-media-icons {
  margin-top: 20px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
}

.social-icon img {
  width: 30px;
  /* Set the size of the icons */
  height: 30px;
  transition: transform 0.3s ease;
}

.social-icon:hover img {
  transform: scale(1.1);
  /* Slight zoom on hover */
}

.box .no {
  color: #6ec1e400;
  font-family: "Karla", Sans-serif;
  font-size: 50px;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  stroke: #000;
}

/* Copyright Section */
.footer-copyright {
  border-top: 1px solid gray;
}

.footer-copyright p {
  text-align: center;
  color: #000000;
  font-family: "Karla", Sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 20px;
}

/* FOOTER CSS ENDS HERE */

/* ====================== */

/* Form Starts */

form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  font-family: Oswald, sans-serif;

}

label {
  display: block;
  font-size: 0.9em;
  margin: 10px 0 5px;
  color: #555;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 93%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.9em;

  font-family: "Assistant", sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  width: 100%;
  padding: 18px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px;
  /* font-family: Oswald, sans-serif; */

  font-family: "Assistant", sans-serif;
  font-weight: 600;
}

button[type="submit"]:hover {
  background-color: #121212e5;
}

.name-fields,
.location-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
}

/* Adjust for smaller screens */
@media (max-width: 600px) {

  .name-fields,
  .location-fields {
    flex-direction: column;
  }

  button[type="submit"] {
    padding: 10px;
    font-size: 0.9em;
    font-family: Oswald, sans-serif;
  }
}